<footer class="whitefoter">
        <div class="whitefooter-cont">
            <div style="float:left;">Copyright © ProductManagement. All Rights Reserved.</div>
          
            <div class="clear"></div>
        </div>
</footer>