<header>
    <div id="wrap">
        <div class="logo">
            <a href="/account/admin">
                <img src="~/Assests/images/Screenshot 2023-10-03 000950.png" border="0" height="80" width="200">
            </a>
            </div>
       
        <div class="topmenu">
            <ul>
                <li><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="/Account/ChangePassword">Change Password</a>&nbsp;|</li>
                <li><a href="@Url.Action("LogOut","Account")"><img  src="~/Assests/images/logout.png" width="16" height="16" border="0">&nbsp;&nbsp;Logout</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</header>
<nav>
    <ul id="qm0" class="qmmc">
        <li><a href="/Account/Admin">Dashboard</a></li>
        <li>
            <a href="/Product/Index">Product</a>
            <ul>
                <li><a href="/Category/Index">Add Category</a></li>
                <li><a href="/SubCategory/Index">Add  Sub Category</a></li>
                <li><a href="/Product/Index">Add Product</a></li>
            </ul>
        </li>
        <!--  <li><a href="#">CCTV</a>
             <ul>
               <li><a href="product-brand.html">Add Brand</a></li>
               <li><a href="cctv.html">Add Product</a></li>
             </ul>
         </li> -->
    </ul>
</nav>