@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/Contant/_Master.cshtml";
}
<div id="wrap">
    <section class="bodymain" style="min-height:540px;">
        <aside class="middle-container">
            <div class="clear" style="height:5px;"></div>
            <h1 style="margin:50px 0 0 270px; font-size:35px; color:#036d9a;">Welcome To Admin Panel</h1>

        </aside>
        <div class="clear"></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </section>
</div>
<div class="clear"></div>
