@model MachineTest.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Master/_Master.cshtml";
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div id="wrap">
        <section class="bodymain" style="min-height:580px;">
            <aside class="middle-container">
                <div class="admin-inr">
                    <br>
                    <div class="form-outer" style="margin-left:320px; width:500px;">
                        <h1>Change Password</h1>
                        <div class="contact-row">
                            <div class="name">Current Password</div>
                            <div class="txtfld-box">
                                @*@Html.TextBoxFor(x => x.CurrentPassword, new {@class="form-control"})*@
                                <input type="text" name="CurrentPassword">
                            </div>
                            <div class="req-field"> This Field Required </div>
                        </div>
                        <div class="clear"></div>
                        <div class="contact-row">
                            <div class="name">New Password</div>
                            <div class="txtfld-box">
                                @*@Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control" })*@
                                <input type="text" name="NewPassword">
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="contact-row">
                            <div class="name">Confirm Password</div>
                            <div class="txtfld-box">
                                @*@Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control" })*@
                                <input type="password" name="ConfirmPassword">
                            </div>
                        </div>
                        <div class="clear">&nbsp;</div>
                        <div class="contact-row">
                            <div class="name" style="float:right; width:1px;">&nbsp;</div>
                            <div style="background:none; border:none; float:left;">
                                <input type="submit" class="btn" value="Change Password">
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="clear">&nbsp;</div>

                    <div class="clear"></div>
                </div>
            </aside>
            <div class="clear"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </section>
    </div>
    <div class="clear"></div>
}

