.qmmc .qmdivider {
	display:block;
	font-size:1px;
	/* border-width:0px; */
	/* border-style:solid; */
	position:relative;
	z-index:1;	
}
.qmmc .qmdividery {
	float:right;
	width:0px;
}
.qmmc .qmtitle {
	display:block;
	cursor:default;
	white-space:nowrap;
	position:relative;
	z-index:1;
}
.qmclear {
	font-size:1px;
	height:0px;
	width:0px;
	clear:left;
	line-height:0px;
	display:block;
	float:none !important;
}
.qmmc {
	position:relative;
	zoom:1;
}
.qmmc a, .qmmc li {
	float:left;
	display:block;
	white-space:nowrap;
	position:relative;
	z-index:1;
	/* margin-right:2px; */
	font:11px Arial, Helvetica, sans-serif;
	color:#FFF;
}

.qmmc div a, .qmmc ul a, .qmmc ul li {
	float:none; 
}
.qmsh div a {
	float:left;
}
.qmmc div {
	visibility:hidden;
	position:absolute;
}
.qmmc .qmcbox {
	cursor:default;
	display:inline-block;
	position:relative;
	z-index:1;
}
.qmmc .qmcbox a {
	display:inline;
}
.qmmc .qmcbox div {
	float:none;
	position:static;
	visibility:inherit;
	left:auto;
}
.qmmc .qmmulti {
	float:left;
	position:relative;
}
.qmmc .qmmulti dd {
	margin:0px;
	padding:0px;
}
.qmmc dd {
	position:relative;
}
.qmmc .qmml0 {
	z-index:99;
}
.qmmc .qmml1 {
	z-index:98;
}
.qmmc .qmml2 {
	z-index:97;
}
.qmmc .qmml3 {
	z-index:96;
}
.qmmc .qmml4 {
	z-index:95;
}
.qmmc .qmml5 {
	z-index:94;
}
.qmmc .qmml6 {
	z-index:93;
}
.qmmc .qmml7 {
	z-index:92;
}
.qmmc .qmml8 {
	z-index:91;
}
.qmmc .qmml9 {
	z-index:90;
}
.qmmc li {
	z-index:auto;
}
.qmmc ul {
	visibility:hidden;
	position:absolute;
	z-index:10;
}
.qmmc, .qmmc ul, .qmmc dl {
	list-style:none;
	padding:0px;
	margin:0px;
}
.qmmc li a {
	float:none;
	color:#e55459;
	text-decoration:none;
	padding:0 5px 0 5px;
	margin:0px;
}
.qmmc li:hover>ul {
	visibility:inherit;
	left:auto;
	}
#qm0 ul {
	top:100%;
}
#qm0 ul li:hover>ul {
	visibility:inherit;
	top:0px;
	left:100%;
}
#qm0 ul dd:hover>ul {
	visibility:inherit;
	top:0px;
	left:100%;
}
#qm0 {
	z-index:9999999;
}
#qm0 {
	margin:0px auto;
	width:980px;
	
}
#qm0 a {
	text-decoration:none;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
	padding:10px 18px 10px 18px;
	margin-top:0px;
	margin-left:0px;	
}

#qm0 a:hover, #qm0 a.menuactive {
	color:#000;
	background:#e85116;
	border:none;
}
#qm0 li:hover>a {
	color:#fff;
	background:#036d9a;
	border:none;


/*	margin-right:3px;*/
}
body #qm0 .qmactive, body #qm0 .qmactive:hover {
	color:#fff;
	background:#036d9a;
	border: none;
}

#qm0 div, #qm0 ul {
	padding:0px;
	/* text-indent:10px; */
	margin:0px 0px 0px;
	width:200px;
	background-color:transparent;
	 background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;
	/*background-color:transparent;*/
}
#qm0 div a, #qm0 ul a {
	padding:7px 0 8px 5px;
	background-color: #fff;
	color:#000;
	font-size:11px;
	margin:2px 0px 0px 0px;
	margin-left:0px;
}
#qm0 div a:hover {
	text-decoration:none;
	background-color:#036d9a;
	color:#fff; 
}
#qm0 ul li:hover>a, #qm0 ul dd:hover>a {
	text-decoration: none;
}
body #qm0 div .qmactive, body #qm0 div .qmactive:hover {
	background-color:#036d9a;
	color:#fff;
	text-decoration:none;
}
#qm0 .qmtitle {
	margin:2px 5px 4px;
	color:#111111;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
}
#qm0 .qmdividerx {
	border-top-width:0px;
	margin:5px 4px;
	
}
div#qm0 div div {
	margin:0px;
}
ul#qm0 ul ul {
	margin:0px;
}
ul#qm0 ul {
	margin:0px 0 0 0px;
/*	background-color:#757575;*/
	/* border-color:#333333; */
}
ul#qm0 ul li {
border-bottom: 1px solid #faf0c8;
}
ul#qm0 ul li:hover > a.qmparent {
	background-image:url("../images/arrow_10.gif");
	}
ul#qm0 ul .qmparent {
	background-image:url("../images/arrow_10.gif");
}
/* ul#qm0 li:hover > a.qmparent {
	background-image:url("../images/arrow_7.gif");
} */
ul#qm0 .qmparent {
background-image:url("../images/arrow_5.gif");
	background-repeat:no-repeat;
	background-position:92% 55%;
}
#qm0 ul li ul li:hover>a {
	background:#036d9a;
	color:#fff;
}

#qm0 ul li:hover>a {
	background: #036d9a;
	}

#qm0 ul li:hover>a:hover {
	background:#036d9a; color:#FFF;
}