<header>
    <div id="wrap">
        <div class="logo">
            <a href="/account/admin">
                <img src="~/Assests/images/Screenshot 2023-10-03 000950.png" height="80" width="200" border="0">
            </a>
            </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</header>
<nav>
    <ul id="qm0" class="qmmc"></ul>
</nav>