<html>
<head>
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <script src="~/Content/jquery-3.7.0.min.js"></script>
    <link href="~/Assests/css/style.css" rel="stylesheet" />
    <link href="~/Assests/menu/quickmenu0.css" rel="stylesheet" />
    <script src="~/Assests/menu/quickmenu0.js"></script>
</head>
<body>
    @Html.Partial("~/Views/Shared/Master/_Header.cshtml")
    @RenderBody();
    @Html.Partial("~/Views/Shared/Master/_Footer.cshtml")
</body>
</html>